version: '3'

services:
  astral-vision:
    container_name: astral-vision
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
